# 仮想環境
.venv/

# Pythonのキャッシュファイル
__pycache__/
*.pyc

# Jupyter Notebookの一時ファイル
.ipynb_checkpoints/

# OSが自動生成するファイル
.DS_Store
Thumbs.db

# VS Codeの個人設定
.vscode/

# results/ フォルダだけ残し，実験結果はアップロードしない
results/*
!results/.gitkeep